
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #222;
    color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFF;
}

/* Стили для формы */
.form-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group button {
    width: 100%;
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
}

a.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

a.btn:active {
    transform: scale(0.9);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

a.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


table {
    width: 100%;
    border-collapse: collapse;
    color: azure;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #333;
}

tbody tr:nth-child(even) {
    background-color: #444;
}

tbody tr:hover {
    background-color: #666;
}

button.add-order-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}